/* 
        Técnico online y servicios web
        www.tecnicoonlineweb.es
        JRinconS   2021
*/

/*
///////////////////////////////////////
		COLORES USADOS

#d2d2d2
#A3A3A3
#73AD21
#42A52B
#0080C7
#FF8200
#adab36
#7C4F7B
#C0362C
#FF9700
#E36A68
#FF0299
#48C9B0
#707B7C
#DB7093


///////////////////////////////////////
*/



@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Raleway', sans-serif;
    line-height:25px;
    font-size:14px;
}

#wrapper {
    width: 100%;
    background: #d2d2d2;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 800px;
    background: #fff;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 800px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 30px;
}

.btn {
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
}

.progress {
    height: 5px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #A3A3A3!important;
}


/* MENSAJE EMERGENTE */

mensajeemergente {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/* CAJAS MENÚ APLICACIONES */

.rcorners {
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
/*	width: 370px; */
	height: 150px;
	margin: 1rem;
}

.instalaciones {
	background: #77C30C;
}

.kilometros {
	background: #007BFF;
}

.almacen {
	background: #DC3545;
}

.alinear-texto {
	display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
	font-size: 19px;
}

.margen-etiqueta {
	margin-top: 1rem;
}

/* AGREGAR ELIMINAR ELEMENTOS FORMULARIO */

.form-group.additional {
	margin-top: 1rem;
	background: #fbfbfb;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}
.remove_button:hover {
	color:#c71212;
}
.remove_button {
	position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: red;
	transition: all 0.25s ease 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
.add_more a {
	color: white;
	vertical-align: middle;
	margin: 0;
	transition: all 0.25s ease 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
.add_more {
	display: inline;
    padding: 5px 10px;
    background: #1abf1a;
    color: white;
    border-radius: 4px;
	transition: all 0.25s ease 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
.add_more:hover {
    background: #168c16;
}
a.add_button:hover {
    text-decoration: none;
}

/* ESTILO MENÚS */

.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #DD1533;
    width: 180px;
    text-align: center;
    height: 75px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 25px;
}
.navbar-cls-top .navbar-brand:hover {
    background: #DD1533;
    color: #fff;
}
.header-right {
    color: #fff;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}
.user-img-div {
    min-height: 130px;
    padding: 20px;
    background-color: #262626;
    text-align:center;
}

.user-img-div img {
    height: 130px;
    border: 5px solid #DD1533;
}

.active-menu {
    background-color: #fff!important;
    border-left: 5px solid #DD1533;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #000;
    background: #E2E2E2;
    text-shadow: none;
    border-bottom: 1px solid #D2D2D2;
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #D2D2D2;
    outline: 0;
}

.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
}

.navbar-cls-top {
    background: #262626;
    border-bottom: none;
}

.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: #000000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #DD1533;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;

}

.nav > li > a > i {
    margin-right: 10px;
}

/* NOTIFICACIONES */

.notifications-wrapper {
    margin-left:3px;
}

.notifications-wrapper .nav {
    background-color: #D2d2d2;
}
.notifications-wrapper li {
    display: inline-block;
}

.notifications-wrapper li a {
    padding: 25px;
    min-height: 50px;
}

.notifications-wrapper .dropdown-tasks {
    width: 250px;
    min-width: 0;
}

.notifications-wrapper .dropdown-menu li {
    display: block;
}

.notifications-wrapper .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.notifications-wrapper .nav > li > a {
    background-color: #E2E2E2;
    color:#000;
}
.notifications-wrapper .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #FFF!important;
    color:#DD1533;

}
.notifications-wrapper .dropdown-menu {
    margin:0px; 
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
}

/* ESTILO FECHA*/

.font-date {
	font-weight: bold;
}

/* FOOTER */

footer {	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    display: block;
}

	#footer .copyright {		
		font-size: 0.8em;
		list-style: none;
		padding-left: 0;
	}

		#footer .copyright li {
			border-left: solid 1px rgba(212, 212, 255, 0.1);
			color: rgba(244, 244, 255, 0.2);
			display: inline-block;
			line-height: 1;
			margin-left: 1em;
			padding-left: 1em;
		}

			#footer .copyright li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

	@media screen and (max-width: 480px) {

		#footer .copyright li {
			display: block;
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			line-height: inherit;
		}

	}
        
        
        ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

		@media screen and (max-width: 736px) {

			ul.icons li {
				padding: 0 0.75em 0 0;
			}

		}

/* DASHBOARD */

.text-center {
    text-align: center;
}

.tittle-gestion-agelai {
    text-align: center;
}    

.tittle-gestion-dashboard {
    text-align: center;
    font-weight: bold;

}

.actividades {
    padding: 10px;
    text-align: center;
}

.actividades-checkbox {
    text-align: center;
}

.imagen-ficha {
    align-content: center;
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
}

/* ESTILOS Y COLORES CAJAS MENU DASHBOARD */

.style-box-one {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    /* border-left: 10px solid #262626; */
}

.style-box-one a, .style-box-one a:hover {
    color: #fff;
    text-decoration: none;
}

.style-box-one span {
    font-size: 50px;
    padding-bottom: 10px;
}

.Style-one-clr-one {
    background-color: #42A52B;
}

.Style-one-clr-two {
    background-color: #0080C7;
}

.Style-one-clr-three {
    background-color: #FF8200;
}

.Style-one-clr-four {
    background-color: #adab36;
}

.Style-one-clr-five {
    background-color: #7C4F7B;
}

.Style-one-clr-six {
    background-color: #C0362C;
}

.Style-one-clr-seven {
    background-color: #FF9700;
}

.Style-one-clr-eight {
    background-color: #E36A68;   
}

.Style-one-clr-ten {
    background-color: #FF0299;
}

.Style-one-clr-eleven {
    background-color: #48C9B0;
}

.Style-one-clr-12 {
    background-color: #707B7C;
}

.Style-one-clr-13 {
    background-color: #DB7093;
}

.current-notices ul {
    padding-left:20px;
    list-style:decimal-leading-zero;
    line-height:30px;
}

.form-check.form-check-inline {
    display: inline;
    padding: 0 10px;
}


/*LISTADOS CLIENTES */

table.dataTable thead {
    background: linear-gradient(to right, #0575E6, #00F260);
    color:white;
}

/*FOOTER */

.footer-content .copyright {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	opacity: 0.5;
}

.footer-content .copyright a {
	color: #fff;
	text-decoration: underline;
}

.footer-content .copyright i {
	color: #233EDE;
}

.copyright {
	margin-top: 10rem;
    position: relative;
}

/* ICONO INSERTAR */

.ico-insertar {
	   color: #00bf44;
    font-size: -webkit-xxx-large;
    font-weight: bold;
}

.add_button {
    vertical-align: middle;
    margin-left: 5px;
}

.remove_button {
	vertical-align: middle;
    margin-left: 10px;
}

/* MEDIA */


@media (min-width:768px) {
    .page-wrapper-cls {
        margin: 0 0 0 180px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 180px;
    }

    .navbar {
        border-radius: 0px;
    }
}
@media (min-width:280px) and (max-width:767px ){
    #menuClose {
        visibility:hidden;
    }
}
